@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0.1px;
}

.contain {
  width: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.head {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

.inner {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toparea {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.shoppinginfo {
  display: flex;
  align-items: center;
}

.shoppinginfo_layout>ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.shoppinginfo_layout>ul>li {
  margin: 0px 10px 0px 0px;
}

.shoppinginfo_layout a {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #989898;
  text-decoration: none;
}

.shoppinginfo_layout strong {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
}

.toparea_state {
  display: flex;
}

.toparea_state>a {
  margin-left: 15px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toparea_state_board {
  margin-top: 27px;
}

.toparea_state_board>a {
  display: flex;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
  margin-left: 15px;
}

.toparea_state_board_ul {
  padding: 5px 0px;
  margin: 0;
  height: 168px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all 0.3s;
  background-color: #fff;
  z-index: -1;
}

.toparea_state_board>ul>li {
  padding: 20px 0px 0px 0px;
  list-style: none;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
}

.icoArrowBottom {
  margin: auto;
  width: 5px;
  height: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.icon_active {
  transform: rotate(180deg);
}

.nav_box {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
}

.main_menu {
  display: flex;
}

.main_menu>ul {
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.main_menu>ul>li {
  height: 80px;
  list-style: none;
  padding: 0px 10px;
  margin: 0px auto;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1a1a1a;
  display: inline-grid;
  position: relative;
  cursor: pointer;
}

.all_category {
  left: 10px;
  top: 30px;
  height: 382px;

}

.all_category_ul {
  padding: 20px 10px;
  overflow: hidden;
  opacity: 0;
  background-color: #fff;
  transition: all 0.3s;
  position: relative;
  top: 200px;
  z-index: -1;
}

.all_category_ul>li {
  padding: 10px 0px 10px 0px;
  list-style: none;
}

.sub_allcate {
  opacity: 1;
}

.icon_box {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.icon_box>img {
  margin-left: 30px;
  cursor: pointer;
}

.mobile_wrap {
  display: flex;
  width: 90%;
  max-width: 1480px;
  margin: auto;
}

.mobile_nav_box {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.mobile_wrap img {
  cursor: pointer;
}

.mian_banner {
  overflow: hidden;
}

.aside {
  width: 80%;
  z-index: 1001;
  position: fixed;
  top: 0px;
  bottom: 0;
  background-color: #fff;
  transition: all 1s;  
  left: -945px;
}

.aside_logo>img{
  width: 30%;
}

.aside_menu_top{
  padding: 50px 00px 10px 0px;
}

.aside_menu_top>a{
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  padding-right: 10px;
  color: #000000;
}

.aside_menu{
  padding: 60px 30px;
}

.side_menu_category{
  padding: 30px 0px;
}

.side_add_category{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.side_add_category>li{
  display: block;
  width: 80px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  cursor: pointer;
}

.aside_menu_bot{
  padding: 23px 50px 25px 0;
  border-top: 1px solid #ebebeb;
}

.side_title{
  position: relative;
  display: block;
  padding: 0;
  margin: 30px 0 15px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806C;
  cursor: pointer;
}

.btn_close{
  width: 24px;
  height: 24px;
  margin: auto;
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  top: -720px;
  right: -800px;
  overflow: hidden;
}

.btn_close>img{
  width: 24px;
  height: 24px;
}

.aside_on{
  left: 0px;
}

.aside_close{
  left: -945px;
}

.banner_con {
  display: flex;
  transition: all 1s;
}

.banner_box {
  width: 100%;
}

.mobile_mian_banner {
  overflow: hidden;
  display: flex;
}

.mobile_banner_con {
  display: flex;
  transition: all 1s;
}

.mobile_banner_box {
  width: 100%;
}

.banner_btn {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translatey(-35px);
}

.banner_btn>button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.mobile_banner_btn {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translatey(-35px);
}

.mobile_banner_btn>button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.warp {
  width: 90%;
  margin: auto;
}

.section_img {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 150px;
  padding: 0px;
  display: flex;
}

.section_img img {
  width: 105px;
  height: 142px;
  padding: 0px 10px;
  cursor: pointer;
}

.mobile_section_img {
  padding: 0px;
}

.mobile_section_img>img {
  width: 105px;
  height: 142px;
  padding: 0px 10px;
  cursor: pointer;
}

.main_title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 150px auto 100px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}

.new_product_warp {
  width: 100%;
  max-width: 1266px;
  margin: auto;
}

.new_product_top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto 33px;
}

.new_product_top>div {
  width: 276px;
  padding: 0px 12px;
}

.new_product_top p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.new_product_top strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.new_product_top>div>img {
  cursor: pointer;
}

.icon {
  margin-top: 10px;
}

.see_more {
  width: 414px;
  height: 74px;
  margin: auto;
  margin-top: 50px;
}

.btn_see {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #B3B3B3;
  padding: 22px 172px;
  cursor: pointer;
  display: inline-block;
}

.new_product_bot {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0px 33px 0px 33px;
  height: 0;
  overflow: hidden;
}

.new_product_bot>div {
  width: 276px;
  padding: 0px 12px;
  cursor: pointer;
}

.new_product_bot p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.new_product_bot strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.new_product_bot>div>img {
  cursor: pointer;
}

.down_1 {
  height: 417px;
  transition: all 0.3s;
}

.product_wrap{
  width: 90%;
  margin: auto;
  max-width: 1266px;
}

.lantern_warp {
  width: 90%;
  height: 330px;
  display: flex;
  margin: auto;
}

.text_box {
  width: 19%;
  display: block;
  float: left;
}

.recommend_lantern {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.claymore {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.diving {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.product_wrap_1 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.lantern_product {
  display: flex;
  transition: all 1s;
  height: 330px;
  user-select: none;
}

.lantern_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.lantern_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.lantern_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.lantern_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.claymore_product {
  display: flex;
  height: 330px;
}

.diving_product {
  display: flex;
  transition: all 1s;
  height: 330px;
}

.diving_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.diving_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.diving_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.diving_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.shoes_warp {
  width: 90%;
  height: 330px;
  display: flex;
  margin: 70px auto 0px;
}

.military_boots {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.hiking_boots {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.winter_boots {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.product_wrap_2 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.military_product {
  display: flex;
  transition: all 1s;
  height: inherit;
}

.military_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.military_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.military_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.military_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.hiking_product {
  display: flex;
  transition: all 1s;
  height: 330px;
}

.hiking_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.hiking_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.hiking_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.hiking_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.winter_product {
  display: flex;
  transition: all 1s;
}

.winter_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.winter_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.winter_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.winter_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.multitool_warp {
  width: 90%;
  height: 330px;
  display: flex;
  margin: 70px auto 0px;
}

.camping_multitool {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.felling_axe {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.camping_knife {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.product_wrap_3 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.multitool_product {
  display: flex;
  transition: all 1s;
  height: inherit;
}

.multitool_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.multitool_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.multitool_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.multitool_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.axe_product {
  display: flex;
  margin-right: 440px;
}

.axe_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.axe_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.axe_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.axe_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.knife_product {
  display: flex;
  margin-right: 440px;
}

.knife_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.knife_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.knife_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.knife_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.wardrobe_warp {
  width: 90%;
  height: 330px;
  display: flex;
  margin: 70px auto 0px;
}

.helikontex_wardrobe {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.winter_wardrobe {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.product_wrap_4 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.helikontex_product {
  display: flex;
  transition: all 1s;
}

.helikontex_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.helikontex_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.helikontex_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.helikontex_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.winter_wardrobe_product {
  display: flex;
  transition: all 1s;
}

.winter_wardrobe_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.winter_wardrobe_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.winter_wardrobe_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.winter_wardrobe_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.accessory_warp {
  width: 90%;
  height: 345px;
  display: flex;
  margin: 70px auto 0px;
}

.camping_chair {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.camping_pouch {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.goggles {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

.product_wrap_5 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.chair_product {
  display: flex;
  transition: all 1s;
  height: inherit;
}

.chair_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.chair_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.chair_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.chair_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.pouch_product {
  display: flex;
  transition: all 1s;
}

.pouch_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.pouch_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.pouch_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.pouch_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.goggles_product {
  display: flex;
  transition: all 1s;
}

.goggles_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.goggles_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.goggles_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.goggles_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.sleepingbag_warp {
  width: 90%;
  height: 330px;
  display: flex;
  margin: 70px auto 0px;
}

.winter_sleepingbag {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #51806c;
  cursor: pointer;
}

.product_wrap_6 {
  overflow: hidden;
  margin: auto;
  max-width: 900px;
  height: inherit;
}

.sleepingbag_product {
  display: flex;
  transition: all 1s;
}

.sleepingbag_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.sleepingbag_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.sleepingbag_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.sleepingbag_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.coupon_banner {
  width: 90%;
  margin: 100px auto;
  cursor: pointer;
  max-width: 1920px;
}

.mobile_coupon_banner {
  width: 100%;
  margin-top: 100px;
  cursor: pointer;
}

.hot_wrap {
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  height: 352px;
}

.hot_product {
  display: flex;
  transition: all 1s;
}

.hot_product>div {
  width: 190px;
  padding: 0px 10px 0px 0px;
}

.hot_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.hot_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.hot_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.mobile_hot_wrap {
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  height: 352px;
}

.mobile_hot_product {
  display: flex;
  transition: all 1s;
}

.mobile_hot_product>div {
  width: 210px;
  padding: 0px 10px 0px 0px;
}

.mobile_hot_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.mobile_hot_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.mobile_hot_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.pelican_product_warp {
  width: 90%;
  margin: auto;
  max-width: 1266px;
}

.pelican_product_one {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto 33px;
}

.pelican_product_one>div {
  width: 276px;
  padding: 0px 12px;
}

.pelican_product_one p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.pelican_product_one strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.pelican_product_one>div>img {
  cursor: pointer;
}

.pelican_product_two {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 50px 33px 0px 33px;
}

.pelican_product_two>div {
  width: 276px;
  padding: 0px 12px;
}

.pelican_product_two p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.pelican_product_two strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.pelican_product_two>div>img {
  cursor: pointer;
}

.see_more_2 {
  width: 414px;
  height: 74px;
  margin: auto;
  margin-top: 50px;
}

.btn_see_2 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #B3B3B3;
  padding: 22px 172px;
  cursor: pointer;
  display: inline-block;
}

.pelican_product_bot {
  height: 0px;
  overflow: hidden;
  display: grid;
}

.pelican_product_three {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0px 33px 0px 33px;
  height: 0px;
}

.pelican_product_three>div {
  width: 276px;
  padding: 0px 12px;
  cursor: pointer;
}

.pelican_product_three p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.pelican_product_three strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.pelican_product_three>div>img {
  cursor: pointer;
}

.pelican_product_four {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 50px 33px 0px 33px;
  height: 0px;
}

.pelican_product_four>div {
  width: 276px;
  padding: 0px 12px;
  cursor: pointer;
}

.pelican_product_four p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.pelican_product_four strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.pelican_product_four>div>img {
  cursor: pointer;
}

.down_2 {
  height: 816px;
  transition: all 0.3s;
}

.arrowbon_wrap {
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  height: 310px;
}

.arrowbon_product {
  display: flex;
  transition: all 1s;
}

.arrowbon_product>div {
  width: 210px;
  padding: 0px 10px 0px 0px;
}

.arrowbon_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.arrowbont_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.arrowbon_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.mobile_arrowbon_wrap {
  overflow: hidden;
  margin: auto;
  max-width: 1200px;
  height: 310px;
}

.mobile_arrowbon_product {
  display: flex;
  transition: all 1s;
}

.mobile_arrowbon_product>div {
  width: 210px;
  padding: 0px 10px 0px 0px;
}

.mobile_arrowbon_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.mobile_arrowbont_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.mobile_arrowbon_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.element_wrap {
  margin: auto;
  max-width: 1200px;
  height: 370px;
}

.element_product {
  display: flex;
}

.element_product>div {
  width: 100%;
  padding: 0px 10px 0px 0px;
}

.element_product p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #212121;
}

.element_product strong {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3F3F3F;
}

.element_product>div>img {
  margin-bottom: 10px;
  cursor: pointer;
}

.review_banner {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0px;
  cursor: pointer;
}

.mobile_review_banner{
  cursor: pointer;
}

.photo_review {
  width: 1266px;
  margin: 50px auto 0px;
}

.review_warp {
  width: 1100px;
  margin: auto;
}

.review_warp>img {
  width: 250px;
  height: 250px;
  padding: 0px 10px;
  cursor: pointer;
}

.footer_contain {
  width: 100%;
  margin-top: 200px;
  background-color: #f9f9f9;
}

.footer_warp {
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 100px 0;
}

.foot_inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

.info_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 500px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #1a1a1a;
  line-height: 24px;
}

.footer_logo {
  margin-bottom: 50px;
}

.info_title {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0px 0px 10px 0px;
  color: #000;
}

.president_name {
  margin-left: 10px;
}

.info_list strong {
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #000;
}

.info_list span {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  margin-left: 10px;
}

.bt_list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.bt_list>span {
  margin-left: 35px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}

.wrap_cs {
  display: flex;
  justify-content: space-between;
}

.info_right_1 {
  margin-right: 85px;
}

.bt_title {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  margin-bottom: 10px;
  line-height: 24px;
}

.pdr10 {
  padding-left: 10px;
}

.list>div {
  margin-bottom: 10px;
}

.list strong {
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #000;
}

.list span {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
}

.info_right_2 {
  margin-right: 85px;
}

.bt_title_sub {
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #000;
}

.sns_icon {
  margin: 15px auto;
  cursor: pointer;
}

.info_bot {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.copyright {
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  line-height: 24px;
  text-align: left;
}

.escrow {
  display: flex;
}

.escrow>img {
  margin-right: 10px;
}

.escrow>span {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: #b3b3b3;
  line-height: 1.6;
  width: 350px;
}

.push_wrap {
  width: 269px;
  height: 110px;
  bottom: 30px;
  left: 30px;
  position: fixed;
}

.push {
  width: 36px;
  height: 20px;
  display: flex;
}

.push_box_wrap {
  opacity: 0;
  transition: all 0.3s;
}

.push_box {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid #B3B3B3;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.push_circle {
  width: 20px;
  position: absolute;
  cursor: pointer;
}

.push_bra_1 {
  width: 36px;
  display: block;
  padding: 2px 0px;
}

.push_bra_2 {
  display: none;
  padding: 2px 0px;
}

.alarm {
  cursor: pointer;
}

.up_wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.clock {
  margin-bottom: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.clock:hover {
  opacity: 0.8;
}

.up_box:hover {
  opacity: 0.8;
}

.up_box {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}



@media screen and (min-width : 1201px) {
  .mian_banner {
    width: 200%;
  }

  .mobile_banner_con {
    display: none;
  }

  .mobile_banner_btn {
    display: none;
  }

  .mobile_wrap {
    display: none;
  }

  .mobile_section_img {
    display: none;
  }

  .mobile_product_wrap_1 {
    display: none;
  }

  .mobile_hot_wrap {
    display: none;
  }

  .mobile_arrowbon_wrap {
    display: none;
  }

  .mobile_coupon_banner {
    display: none;
  }

  .mobile_review_banner {
    display: none;
  }
  .aside{
    display: none;
  }
}

@media screen and (max-width : 1200px) {
  .warp {
    width: 100%;
  }

  .banner_con {
    display: none;
  }

  .banner_btn {
    display: none;
  }

  .mobile_mian_banner {
    width: 200%;
  }

  .mobile_banner_btn {
    display: block;
  }

  .toparea {
    display: none;
  }

  .nav_box {
    display: none;
  }

  .mobile_wrap {
    display: block;
    height: 70px;
  }

  .mobile_nav_box {
    padding-top: 23px;
  }

  .aside{
    display: block;
    width: 80%;    
  }

  .section_img {
    display: none;
  }

  .mobile_section_img {
    display: flex;
    width: inherit;
    margin: 50px auto 0px;
  }

  .mobile_section_img>img {
    margin: auto;
    width: 25%;
    height: 25%;
  }

  .new_product_warp {
    display: block;
    margin: 0px auto;
    width: 100%;
  }

  .new_product_top {
    display: flex;
    margin: 0px auto;
    width: 100%;
  }

  .new_product_top>div {
    margin: 0px auto;
    width: 100%;
  }

  .new_product_top>div>img {
    margin: 0px auto;
    width: 100%;
  }

  .new_product_bot {
    display: flex;
    margin: 0px auto;
    width: 100%;
  }

  .new_product_bot>div {
    margin: 0px auto;
    width: 100%;
  }

  .new_product_bot>div>img {
    margin: 0px auto;
    width: 100%;
  }

  .see_more_2{
    display: none;
  }

  .push_wrap {
    display: none;
  }

  .up_wrap {
    display: none;
  }

  .text_box {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: flex-start;
  }

  .text_box>div {
    margin-left: 10px;
  }

  .lantern_warp {
    display: none;
  }

  .product_wrap_1 {
    display: none;
  }

  .mobile_lantern_warp {
    display: flex;
  }

  .shoes_warp {
    display: contents;
    max-width: 720px;
    margin: 100%;
  }

  .product_wrap_2 {
    display: none;
  }

  .multitool_warp {
    display: contents;
    max-width: 720px;
    margin: 100%;
  }

  .product_wrap_3 {
    display: none;
  }

  .wardrobe_warp {
    display: contents;
    max-width: 720px;
    margin: 100%;
  }

  .product_wrap_4 {
    display: none;
  }

  .accessory_warp {
    display: contents;
    max-width: 720px;
    margin: 100%;
  }

  .product_wrap_5 {
    display: none;
  }

  .sleepingbag_warp {
    display: contents;
    max-width: 720px;
    margin: 100%;
  }

  .product_wrap_6 {
    display: none;
  }

  .coupon_banner {
    display: none;
  }

  .mobile_coupon_banner {
    display: block;
    width: 100%;
  }

  .mobile_coupon_banner>img{
    width: 100%;
  }

  .hot_wrap {
    display: none;
  }

  .mobile_hot_wrap{
    width: 100%;
    margin: auto 20px;
    display: flex;
    height: 360px;
  }

  .arrowbon_wrap {
    display: none;
  }

  .mobile_arrowbon_wrap {
    width: 100%;
    margin: auto 20px;
    display: flex;
  }  

  .element_wrap{
    width: 100%;
  }

  .pelican_product_warp {
    display: block;
    width: 100%;
  }

  .pelican_product_top {
    display: block;
    margin: auto;
    width: 100%;
  }

  .pelican_product_one {
    display: block;
    margin: auto;
    width: 90%;
  }

  .pelican_product_one>div {
    width: 22%;
    padding: 0px;
    display: inline-grid;
    justify-content: center;
  }

  .pelican_product_one>div>img {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .pelican_product_two {
    display: block;
    margin: 20px auto;
    width: 90%;
  }

  .pelican_product_two>div {
    width: 22%;
    padding: 0px;
    display: inline-grid;
    justify-content: center;
  }

  .pelican_product_two>div>img {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .see_more_2 {
    display: none;
  }

  .down_2 {
    height: 675px;
    transition: all 0.3s;
  }

  .pelican_product_bot {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .pelican_product_three {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
  }

  .pelican_product_three>div {
    width: 22%;
    padding: 0px;
    display: inline-grid;
    justify-content: center;
  }

  .pelican_product_three>div>img {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .pelican_product_four {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
  }

  .pelican_product_four>div {
    width: 22%;
    padding: 0px;
    display: inline-grid;
    justify-content: center;
  }

  .pelican_product_four>div>img {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .review_banner {
    display: none;
    width: 100%;
  }

  .mobile_review_banner>img{
    width: 100%;
    margin-top: 100px;
  }

  .photo_review{
    width: 100%;
    margin: auto;
  }

  .review_warp{
    width: 90%;
  }

  .review_warp>img{
    width: 22%;
  }

  .footer_contain {
    padding: 0;
    margin: 100px auto 0px;
  }

  .footer_warp {
    margin: 100px auto;
    padding: 0;
    color: #b3b3b3;
  }

  .foot_inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .info_left {
    order: 2;
    width: 100%;
  }

  .footer_logo {
    padding-top: 45px;
    margin-bottom: 30px;
    font-size: 25px;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }

  .footer_logo>img {
    max-width: 200px;
    max-height: 30px;
  }

  .shopping_info {
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .info_list {
    line-height: 1.8;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .info_list>div {
    margin: 0;
  }

  .info_right {
    order: 1;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .bt_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .wrap_cs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .info_right_1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .info_right_2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .info_right_3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .sns_icon {
    padding: 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    line-height: 24px;
    letter-spacing: -0.05em;
    justify-content: space-between;
    flex-direction: column;
  }

  .bank_txt {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    line-height: 24px;
    letter-spacing: -0.05em;
  }

  .bt_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20%;
    margin-top: 20px;
  }

  .info_bot {
    margin-top: 0px;
    flex-direction: column;
  }

  .dummy {
    margin-top: 10px;
  }

  .escrow>img {
    margin-right: 10px;
  }
}