
body{
    margin: 0;
    padding: 0.1px;
}

.contain{
    width: 1920px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    user-select: none;
}

.head{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.inner{
    max-width: 1266px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toparea{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.shoppinginfo{
    display: flex;
    align-items: center;
}

.shooppinginfo_layout>ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.shooppinginfo_layout>ul>li{
    margin: 0px 10px 0px 0px;
}

.shooppinginfo_layout a{
    font-size: 13px;
    font-weight: 300;
    color: #989898;
    text-decoration: none;
}

.shooppinginfo_layout strong{
    font-size: 13px;
    font-weight: 300;
    color: #666;
}

.toparea_state{
    display: flex;
}

.toparea_state>a{
    margin-left: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toparea_state_board{
    margin-top: 27px;
}

.toparea_state_board>a{
    display: flex;
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
    color: #666;
    margin-left: 15px;
}

.toparea_state_board_ul{
    padding: 5px 0px;
    margin: 0;
    height: 168px;
    position: relative;
    left: 15px;
    opacity: 0;
    transition: all 0.3s;
    background-color: #fff;
}

.toparea_state_board>ul>li{
    padding: 20px 0px 0px 0px;
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    color: #666;
}

.icoArrowBottom{
    margin: auto;
    width: 5px;
    height: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.active{
    opacity: 1;
}

.icon_active{
    transform: rotate(180deg);
}

.nav_box{
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo_box{
    padding: 10px 0px;
    margin: 0;
}

.main_menu{
    display: flex;
}

.main_menu>ul{
    margin: 0 auto;
    display: flex;
    padding: 0;
}

.main_menu>ul>li{
    list-style: none;
    padding: 0px 10px;
    margin: auto;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;    
}

.all_category{
    padding: 5px 5px;
    position: relative;
    left: 0px;
    top: 26px;
    list-style: none;
    height: 382px;
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;
}

.all_category_ul{
    padding: 20px 10px;
    overflow: hidden;
    opacity: 0;
    background-color: #fff;
    transition: all 0.3s;
}

.all_category_ul>li{
    padding: 10px 0px 10px 0px;
    list-style: none;
}

.sub_allcate{
    opacity: 1;
}

.icon_box{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.icon_box>img{
    padding-left: 30px;
}

.mian_banner{
    width: 1920px;
    overflow: hidden;
}

.banner_con{
    display: flex;
    width: 3840px;
    transition: all 1s;
}

.banner_box{
    width: 1920px;
}

.banner_btn{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 570px;    
}

.banner_btn>button{
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.warp{
    max-width: 1266px;
    width: 90%;
    margin: auto;
}

.section_img{
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    padding: 0px;
    display: flex;
}

.section_img>img{
    width: 105px;
    height: 142px;
    padding: 0px 10px;
}

.main_title{
    width: fit-content;
    margin: 80px auto;
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.new_product_warp{
    width: 100%;
    max-width: 1266px;
    margin: auto;
}

.new_product_top{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto 33px;
}

.new_product_top>div{
    width: 276px;
    padding: 0px 12px;
    cursor: pointer;
}

.icon{
    margin-top: 10px;
}

.see_more{
    width: 100%;
    margin-top: 50px;
    position: relative;
    left: 426px;
}

.btn_see{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #B3B3B3;
    padding: 22px 172px;
    cursor: pointer;
}



.new_product_bot{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 50px 33px 0px 33px;
}

.new_product_bot>div{
    width: 276px;
    padding: 0px 12px;
    cursor: pointer;
}

.icon{
    margin-top: 10px;
}